# Dependencies
node_modules/

# Build output
dist/
build/

# Local data

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files (if you add secrets later)
.env
.env.local
.env.*.local

# Temporary files
*.swp
*.swo
